/* Questrial, Poiret One, Bangers and Shrikhand */
@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Poiret+One&family=Questrial&family=Shrikhand&display=swap");

:root {
  --background: #0B0A07;
  --primary: #52FFEE;
  --secondary: #DCFFFD;
  --accent: #F0EC57;
  --accent-select: rgba(240, 236, 87, 0.5);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

.main-soon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background-color: var(--background);
}

.page-header-soon {
  color: white;
  font-family: Poiret One, sans-serif;
  font-style: italic;
  text-shadow: 5px 5px var(--primary);
  font-size: 100px;
}

.page-header-soon::selection {
  background-color: var(--accent);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
}

.page-header {
  color: white;
  font-family: Poiret One, sans-serif;
  font-style: italic;
  text-shadow: 1px 1px 10px var(--primary);
  padding: 1em;
}

.page-header::selection {
  background-color: var(--accent);
}