.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 6rem; */
  min-height: 100vh;
  background-color: var(--background);
}

.page-header {
  color: white;
  font-family: Poiret One, sans-serif;
  font-style: italic;
  text-shadow: 5px 5px var(--primary);
  font-size: 100px;
}

.page-header::selection {
  background-color: var(--accent-select);
}